<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newbee.repository.UserInfoRepository">

    <resultMap id="BaseResultMap" type="com.newbee.Model.UserInfo">
        <id column="id" property="id" />
        <result column="user_wxid" property="userWxid" />
        <result column="user_name" property="userName" />
        <result column="join_date" property="joinDate" />
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, user_name AS userName, user_wxid AS userWxid, join_date AS joinDate
    </sql>
</mapper>